@font-face {
  font-family: myFirstFont;
  src: url(Cookie-Regular.ttf);
}
#header h1, .reception h3, .live_stream h2, .final_block h2, .our_story h2, .gallery h2, .wedding-couple h3{
  /*font-family: 'Engagement', cursive;*/
  /*font-family: 'Pacifico', cursive;*/
  font-family: myFirstFont;
}
#header h1{
  font-size:7vw;
  color: #df4f4f;
}
#header img{
  width:29%;
  margin-top: -30px;
  object-fit: contain;
}
#header{
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-size: 25px;
  text-align: center;
}
#header .calender{
  border: none!important;
  background-color: #df4f4f!important;
  /*background-color: royalblue!important;*/
  color: #fff!important;
  padding: 8px 1%!important;
  font-size: 20px!important;
  position: relative;
  top: -4px;
}
.getting_married_btn{
  border: none;
  background-color: #ffc551;
  color: #fff;
  padding: 3px 10px;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 14px;
  font-style: italic;
  width: 220px;
  font-weight: bold;
}
.red_head{
  color: #fff;
  padding-top: 1%;
  font-style: italic;
  font-size: 22px; 
  font-weight: bold;
}
.rose_pic{
  width: 180px;
  height: 150px;
  object-fit: contain;
}
.header_content h2{
  background-color: #ffc551;
}

#story{
  text-align: center;
  padding-top: 5%;
}
.our_story h2{
  padding-top: 2%;
}
.our_story p{
  padding: 2% 1%;
}

/* countdown */
#countdown{
  background-color: #df4f4f;
  /*background-color: royalblue;*/
  border-radius: 35px;
  /* padding: 4% 0; */
}
#countdown button{
  position: relative;
  top: 45px;
}
#countdown .calender{
  border: none!important;
  background-color: #000!important;
  color: #fff!important;
  padding: 9px 3%!important;
  font-size: 20px!important;
  position: relative;top: 16px;
}
#countdown a:hover{
  text-decoration: none;
}
.addeventatc .addeventatc_icon{
  display: none;
}
.live_stream h2{
  padding-bottom: 5%;
  padding-top: 5%;
}

#countdown ul{
  padding: 0;
}
#countdown li {
  display: inline-block;
  font-size: 16px;
  list-style-type: none;
  padding: 0 20px 30px;
  text-transform: uppercase;
  color:white;
}

#countdown li span {
  display: block;
  font-size: 4vw;
  color: #fff;
}

/* .message {
  font-size: 4rem;
}

#content {
  display: none;
  padding: 1rem;
}

.emoji {
  padding: 0 .25rem;
} */

.calender_image{
  width:70px;
  height: 70px;
  position: relative;
  top: -35px;
  object-fit: contain;
}
.reception{
  padding-top: 5%;
}
.final_block{
  padding-top: 10%;
}
.reception h3{
  padding-bottom: 10%;
}
.reception h3, .our_story h2, .live_stream h2{
  font-size: 34px;
}
.vratham_div{
  border-radius: 30px;
  box-shadow: 1px 1px 14px darkgrey; 
  width: 300px;
  display: block;
  margin: auto auto 20%;
  background-color: #ffc551;
  color: #fff;
  font-weight: bold;
}
.vratham_div .events{
  margin-top: -22px;
  padding-bottom: 8%;
}
.vratham_div p{
  margin-bottom: 1px;
}
.gallery h2{
  padding-bottom: 3%;
}
.gallery_pic {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: all 0.5s ease;
  padding-bottom: 9%;
  /*border-radius: 12%;*/
}
.gallery_pic:hover{
  transform:scale(1.061);
  transition: all 0.5s ease;
}
.final_block h2{
  padding: 2% 0;
  font-size: 6vw;
}
.footer_bg{
  height: 300px;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-size: 25px;
  text-align: center;
}
.company_profile p{
  text-align: center;
  font-style: 14px;
  color: #ffffff;
  padding: 10px 0;
  margin: 0
}
.company_profile p a{
  color: #ffffff;
}
.company_profile{
  background: #000;
  display: block;
  margin: auto;
}



/*particles*/
canvas {
  display: block;
  vertical-align: bottom;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  /*background-color: #000011;*/
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
}
#story{
  position: relative;
}

/*count*/
.count{
  display: flex;
  width: 670px;
  margin: 0 auto;
}
.count_d{
  position: relative;
  width: 200px;
  padding: 20px;
  margin: 0 5px;
  background-image: linear-gradient(to right,  #ffe066
,#ffff99,#ffe066);
  opacity:0.8;
  color: #80b3ff;
  border: 2px solid #000;
  border-radius: 50%;
  overflow: hidden;
}
.count_d:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgba(255, 255, 255, 0.2);
}
.count_d span{
  display: block;
  text-align: center;
  font-size: 48px;
  font-weight: 800;
}
.count_d h2{
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: 800;
  text-transform: uppercase;
  color: #d279d2;
}
.wedding-couple h3{
  font-size: 34px;
  color: #ffc551;
  font-weight: bold;
}
.wedding-couple img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.wedding-couple{
  padding:5% 0 3%; 
}
